* {
	margin: 0px;
	padding: 0px;
}

html {
	font-display: 62, 5%;
	background-color: #025159;
}
.gridConteiner {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto auto ;
	grid-template-areas:
		"header"
		"main"
		"footer" ;
}
.header {
	grid-area: header ;
	display: flex;
	align-items: center;
	background-color: #2A0944;
}
.main {
	grid-area: main ;
	background-color:#3FA796;}
.footer { 
	grid-area: footer ;
	display: flex;
	align-items: center;
	background-color: #A10035;
}
nav ul li{
	display: inline;
	list-style-type: none;
	font-size: 1.2rem;
	padding: 0rem 1rem;
}
a{
	text-decoration: none;
	color: #FEC260;
}
ul{
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
}
.navegador{
	width: 100%;
}
	main div img{
	width: 99%;
	margin: auto auto;
}
.divImg{
	margin: 1rem 1rem;
	text-align: center;
}
.divText{
	margin: 1rem 1rem;
	text-align: justify;
}
h1{
	text-align: center;
	font-size: 3.5rem;
	font-family: oxygen, sans-serif;
}
.redes{
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	width: 100%;
}
div div p{
	padding: 1rem 1rem;
}
.oxygen{
	font-family: oxigen, sans-serif;
	font-size: 1.2rem;
}
.galeria{
	display: grid;
	grid-template-areas: "img1 img2 img3";
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
}
.img1{grid-area: img1; width: 100%;}
.img2{grid-area: img2; width: 100%;}
.img3{grid-area: img3; width: 100%;}
@media only screen and (max-width: 768px) {
	.video{
		width: 100%;
	}
	.texto, p, li{
		font-size: 1rem;
		text-align: justify;
		margin: 0.1rem 0.1rem;
		font-family: oxygen, sans-serif;
	}
	h1{
		font-size: 1.5rem;
		font-family: oxygen, sans-serif;
		padding: 1rem;
	}
	.galeria{
		display: flex;
		flex-direction: column;
	}
	.formulario{
		display: flex;
		flex-direction: column;
	}
}